@import "../../utils/Styles/color.scss";
:root {
  --dark-bg: #2f2f2f;
}
.loding_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark-bg;
  position: fixed;
  z-index: 100;
}

.loader {
  width: 320px;
  height: 6rem;
  display: block;
  margin: auto;
  position: relative;
  background: var(--dark-bg);
  box-sizing: border-box;
}
.loader::after {
  content: "";
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: linear-gradient(
      100deg,
      transparent,
      rgba(255, 255, 255, 0.5) 50%,
      transparent 80%
    ),
    radial-gradient(circle 28px at 28px 28px, #ddd 99%, transparent 0),
    linear-gradient(#ddd 24px, transparent 0),
    linear-gradient(#ddd 18px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 130px, 55px 56px, 160px 30px, 260px 20px, 290px 56px;
  background-position: 0% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    background-position: 0% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  }
  100% {
    background-position: 150% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  }
}

.slideloader {
  width: 8rem !important;
  height: 12rem !important;
  border-radius: 8px;
  display: block;
  margin: auto;
  position: relative;
  background: var(--dark-bg);
  box-sizing: border-box;
}
.slideloader::after {
  content: "";
  width: calc(100% - 10px);
  height: calc(100%);
  top: 10px;
  left: 5px;
  position: absolute;
  background-image: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.5) 50%,
      transparent 100%
    ),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 16px, transparent 0),
    linear-gradient(#ddd 50px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 175px, 100% 100px, 100% 16px, 100% 30px;
  background-position: -185px 0, center 0, center 115px, center 142px;
  box-sizing: border-box;
  animation: slideanimloader 1s linear infinite;
}

@keyframes slideanimloader {
  to {
    background-position: 185px 0, center 0, center 115px, center 142px;
  }
}
