@import "../../utils/Styles/color.scss";

.seekBar {
  --bar-bg: #ffffff4f;
  --seek-before-width: 0%;

  --selectedKnobby: #007975;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 2px !important;
  outline: none;
}

/* progress bar - safari */
.seekBar::-webkit-slider-runnable-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 2px !important;
  outline: none;
}

/* progress bar - firefox */
.seekBar::-moz-range-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 2px !important;
  outline: none;
}

.seekBar::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.seekBar::before {
  content: "";
  height: 2px !important;
  width: var(--seek-before-width);
  background-color: $accent-color;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar - firefox */
.seekBar::-moz-range-progress {
  background-color: $accent-color;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 2px !important;
}

/* knobby - chrome and safari */
.seekBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: none;
  background-color: $accent-color;
  
  cursor: pointer;
  position: relative;
  margin: -4px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.seekBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

/* knobby - firefox */
.seekBar::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: transparent;
  background-color: $accent-color;
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - firefox */
.seekBar:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}
