@import "../../utils/Styles/color.scss";

.dark-bg {
  // background-color: #1f1f1f;
  background-color: $dark-bg;
}
.landing-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .icon-cover {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $accent-color;
    position: relative;
    top: 0;
    left: 0;
    svg {
      width: 4rem;
      // transform: translate(7px, 7px);
      position: absolute;
      top: 7px;
      left: 7px;
      animation: rotation 12s infinite linear;
    }
  }

  .LandingLoader {
  }
}

.initial {
  color: #fff;
  z-index: 10;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  letter-spacing: 0.4rem;
  font-size: 2rem;
  margin: unset;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
