@import "../../utils/Styles/color.scss";

.round-wrapper {
  // min-width: 7rem;
  // min-height: 7rem;
  width: auto;
  height: auto;
  margin: 1rem 2rem 0 2rem;
  p {
    font-size: 1rem;
    padding-top: 0.5rem;
    font-weight: 600;
  }
  img {
    border: solid 2px transparent;
    outline: solid 4px $accent-color;
  }
}
