@import "../../utils/Styles/color.scss";

.Auth-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $accent-color;
  padding: 3rem;
}

@media (max-width: 768px) {
  .Auth-screen {
    padding: 0rem;
    background: $dark-bg;
      background-image: url('../../assets/Icons/blob-scene-haikei.svg');
      background-position: center;
      background-size: cover;
  }
}
