$dark-bg: #1f1f1f;
// $accent-color: #bb0187;
$accent-color: #17deee;
$accent-color-border: #17deee22;
//
$primary-green: #0ace5f;
$primary-blue: #0b1b80;
$primary-darkGreen: #033418; //==> used for Input,
$balck: #000000;
$white: #ffffff;
$success: #0ace5f;
$error: #f0323c;
$severe-warning: #ec6d00;
$warning: #ffbf00;
$info: #2f44c2;
//Secoundry Colors
$olive: #edfae2;
$linkwater: #e4e7fd;
$cherub: #f8d7de;
$water: #dce8f6;
$peach: #f7e5d7;
$tintgreen: #e2f7eb;
$golden: #f6f1e0;
//Secoundry Colors with 50% opacity
$olive-light: #f6fcf0;
$linkwater-light: #f1f3fe;
$cherub-light: #fbebef;
$water-light: #edf3fb;
$peach-light: #fbf2eb;
$tintgreen-light: #f0fbf5;
$golden-light: #fbf8ef;
//green
$green-00: #f4fef8; //==> used for Input,
$green-10: #e3feef;
$green-20: #d0fde4;
$green-60: #09b554;
$green-70: #07893f;
$green-80: #034520;
$green-100: #011108;
$green-alge: #8ddbaf;
$green-mantle: #8d9690; //==> used for Input,
//BLUE
$blue-00: #f3f4fe;
$blue-10: #e4e7fd;
$blue-20: #b3bdf8;
$blue-30: #8d9bf5;
$blue-40: #677af2;
$blue-50: #1b38eb;
$blue-60: #0a17ce;
$blue-70: #0e23a6;
$blue-80: #0b1b80;
$blue-90: #091564;
$blue-100: #060f47;
$blue-wild: #8d94bc;
//GReY
$grey-00: #f7f9f8;
$grey-10: #f5f5f5;
$grey-20: #f0f0f0;
$grey-30: #ebebeb;
$grey-40: #e6e6e6;
$grey-50: #cccccc;
$grey-60: #999999;
$grey-70: #737373;
$grey-80: #4a4a4a;
$grey-90: #1a1a1a;

//darkgreen
$darkGreen-50: #03341880;
