@import "../../utils/Styles/color.scss";

.top-bar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  .btn {
    margin: unset;
    border: unset;
    outline: unset;
    &:active {
      border: unset;
      outline: unset;
    }
    svg {
      color: #ffffff84;
      font-size: 1.5rem;
    }
  }
  .back-btn {
    svg {
      color: $accent-color;
      -webkit-animation: ca3_fade_silde 2s ease-in-out infinite;
      -moz-animation: ca3_fade_silde 2s ease-in-out infinite;
      animation: ca3_fade_silde 2s ease-in-out infinite;
    }
  }
}
@keyframes stripeanimloader {
  0% {
    background-position: 0% 0, 120px 0, 10px 40px, 10px 80px, 120px 120px;
  }
  100% {
    background-position: 100% 0, 120px 0, 10px 40px, 10px 80px, 120px 120px;
  }
}
