@import "../../utils/Styles/color.scss";
.track-audio {
  display: none !important;
}
.player {
  // width: 100vw;
  border: unset;
  border-top: solid $accent-color 2px;
  // border-top-left-radius: 20px;
  // border-top-right-radius: 20px;

  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
  background-color: $dark-bg;
  .image {
    padding: unset;
    .albumart {
      width: 4rem;
      height: auto;
      object-fit: cover;
      border-radius: 0.8rem;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.25rem 0.5rem;
    .trackName {
      color: #ffffff;
      font-size: 1rem;
      margin: unset;
      font-weight: 500;
      text-transform: capitalize;
    }
    .artists {
      color: #aaaaaa;
      font-size: 0.75rem;
      font-weight: 400;
      text-transform: capitalize;
      margin: unset;
    }
  }
  .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .btn {
      border: unset;
      outline: unset;
      padding: 0.5rem;
      &:active {
        border: unset;
        outline: unset;
      }
    }
    svg {
      font-size: 1.5rem;
      color: #ffffff84;
    }
  }
}

.mini {
  height: 5rem;
  width: 100vw;
  margin: unset;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  transition: all 0.25s linear;
}
.mega {
  padding: unset;
  color: rgba(30, 30, 30, 0.871);
  height: calc(100vh - 3.5rem);
  background-color: $dark-bg;
  border-top: none;
  transition: all 0.25s linear;
  // overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .tack_card {
    width: 100vw;
    height: 100%;
    // border: solid 1px seagreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &-topBar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 1rem;
      &--icon {
        background: none;
        margin: unset;
        border: unset;
      }
      &--icon-down {
        background: none;
        margin: unset;
        border: unset;
        -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
        -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
        animation: ca3_fade_move_down 2s ease-in-out infinite;
        svg {
          color: $accent-color;
        }
      }
      &--space {
        flex: 1;
      }
    }
    &-playlist {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 5;
      transform: translateX(100vw);
      transition: all 0.2s ease;
      background: rgba(30, 30, 30, 0.25);
      box-shadow: 0 8px 12px 0 rgba(66, 67, 67, 0.37);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      &--top-bar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .btn {
          line-height: 1;
          svg {
            font-size: 1.25rem;
          }
        }
      }
    }
    .active {
      transform: translateX(0vw);
      transition: all 0.2s ease;
    }
    &-albumart {
      margin-top: 2rem;
      // flex: 1;
      border-radius: 12px;
      overflow: hidden;

      img {
        width: 15rem;
        height: 15rem;
        box-shadow: rgba(114, 114, 114, 0.25) 0px 54px 55px,
          rgba(114, 114, 114, 0.12) 0px -12px 30px,
          rgba(114, 114, 114, 0.12) 0px 4px 6px,
          rgba(114, 114, 114, 0.17) 0px 12px 13px,
          rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
    }
    &-info {
      margin-top: 2rem;
      width: 85%;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .tack-name {
        width: 80%;
        color: $white;
        font-size: 1.2rem;
        font-weight: 600;
      }
      .tack-album-name {
        width: 80%;
        color: $white;
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
    &-media-icons {
      width: 100%;
      display: flex;
      margin-top: 0.5rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .btn {
        border: unset;
        outline: unset;
        &:active {
          border: unset;
          outline: unset;
        }
        svg {
          font-size: 1.2rem;
          color: #ffffff84;
        }
      }
    }
    &-timeLine {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
      .timings {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .time {
          font-size: 1rem;
          color: #ffffff84;
          margin: unset;
          padding: 0 0.5rem;
        }
      }
      .seekbar-wrapper {
        width: 100%;
        padding: 0rem 1rem;
      }
    }
    &-controls {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 3rem;
      padding-bottom: 1rem;
      .btn {
        border: unset;
        outline: unset;
        &:active {
          border: unset;
          outline: unset;
        }
      }
      svg {
        font-size: 2rem;
        color: #ffffff84;
      }
    }
  }
}

.songlist {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.75rem;
  height: calc(100vh - 3rem);

  overflow: scroll;
  &-card {
    width: 100%;
    min-height: 3rem;
    height: auto;
    padding: 0.25rem;
    margin-bottom: 1rem;
    border: solid 2px $grey-50;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    &-img {
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    &-info {
      display: flex;
      padding: 0 0.5rem;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      &-songName {
        font-size: 0.8rem;
        font-weight: 500;
        font-style: normal;
        color: $white;
        margin: unset;
        text-transform: capitalize;
        width: 10rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-artistName {
        font-size: 0.4em;
        font-weight: 400;
        font-style: normal;
        color: $white;
        margin: unset;
        text-transform: capitalize;
        width: 10rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        /* Hide scrollbar for IE, Edge and Firefox */
      }
    }
    &-controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &-btn {
        margin: unset;
        padding: 0.5rem;
        line-height: 1 !important;
        outline: unset;
        svg {
          font-size: 1rem;
          color: $grey-50;
        }
      }
    }
  }
}
.current-palying {
  background-color: $accent-color-border !important;
  border: solid 2px $accent-color !important;
}
/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -2px);
    opacity: 1;
  }
  50% {
    transform: translate(0, 2px);
    opacity: 1;
  }
  100% {
    transform: translate(0, -2px);
    opacity: 1;
  }
}
@-moz-keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -2px);
    opacity: 1;
  }
  50% {
    transform: translate(0, 2px);
    opacity: 1;
  }
  100% {
    transform: translate(0, -2px);
    opacity: 1;
  }
}
@keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -2px);
    opacity: 1;
  }
  50% {
    transform: translate(0, 2px);
    opacity: 1;
  }
  100% {
    transform: translate(0, -2px);
    opacity: 1;
  }
}
