@import "../../../utils/Styles/color.scss";
.artist-list {
  width: 100vw;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.songlist {
  margin: 1rem 0 0 0;
}
.go-back-btn {
  color: $white;
  background: $accent-color;
  svg {
    color: $white;
    font-size: 1rem;
  }
}
