@import "../../utils/Styles/color.scss";
.song_warpper {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &-top-bar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    .btn {
      margin: unset;
      border: unset;
      outline: unset;
      &:active {
        border: unset;
        outline: unset;
      }
      svg {
        color: #ffffff84;
        font-size: 1.5rem;
      }
    }
    .back-btn {
      svg {
        color: $accent-color;
        -webkit-animation: ca3_fade_silde 2s ease-in-out infinite;
        -moz-animation: ca3_fade_silde 2s ease-in-out infinite;
        animation: ca3_fade_silde 2s ease-in-out infinite;
      }
    }
  }
  &-albumart {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgb(255 255 255 / 40%) 0px 0px 25px;
    img {
    }
  }
  &-info {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .track-name {
      text-align: center;
      word-wrap: break-word;
      color: #ffffff;
      text-transform: capitalize;
    }
    .track-album {
      text-align: center;
      word-wrap: break-word;
      color: #ffffff;
      text-transform: capitalize;
      text-decoration: underline;
      font-size: 1rem;
      &:hover {
        cursor: pointer;
      }
    }
    .artists {
      text-align: center;
      word-wrap: break-word;
      color: #ffffff95;
      text-transform: capitalize;
      font-size: 0.9rem;
      font-weight: 400;
      margin: unset;
      span {
        font-weight: normal;
        // text-decoration: underline;
      }
    }
    .cont {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      .language {
        font-size: 0.5rem;
        text-align: center;
        word-wrap: break-word;
        color: #ffffff;
        text-transform: uppercase;
        margin: unset;
        width: fit-content;
        span {
          svg {
            font-size: 0.75rem;
          }
        }
      }
      .playCount {
        color: #ffffff95;
        font-weight: 300;
        font-size: 1rem;
        margin: unset;
        width: fit-content;
      }
    }
  }
  &-action-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .btn-rounded {
      border: unset;
      outline: unset;
      &:active {
        border: unset;
        outline: unset;
      }
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
    .play {
      background-color: $accent-color;
      svg {
        transform: translate(0, 0);
      }
    }
    .heart {
      background-color: transparent;
      svg {
        transform: translate(-4px, 2px);
        color: $accent-color;
      }
    }
  }
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_silde {
  0% {
    transform: translate(-2px, 0);
    opacity: 1;
  }
  50% {
    transform: translate(2px, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-2px, 0);
    opacity: 1;
  }
}
@-moz-keyframes ca3_fade_silde {
  0% {
    transform: translate(-2px, 0);
    opacity: 1;
  }
  50% {
    transform: translate(2px, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-2px, 0);
    opacity: 1;
  }
}
@keyframes ca3_fade_silde {
  0% {
    transform: translate(-2px, 0);
    opacity: 1;
  }
  50% {
    transform: translate(2px, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-2px, 0);
    opacity: 1;
  }
}

///
.songpage-loader {
  width: 100vw;
  height: 215px;
  display: block;
  margin: auto;
  position: relative;
  background: #1e1e1e;
  box-sizing: border-box;
}
.songpage-loader::after {
  content: "";
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.5) 50%,
      transparent 100%
    ),
    radial-gradient(circle 50px, #ddd 100%, transparent 0),
    linear-gradient(#ddd 16px, transparent 0),
    linear-gradient(#ddd 24px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 175px, 100% 100px, 80% 16px, 80% 16px;
  background-position: -185px 0, center 10px, center 125px, center 155px;
  box-sizing: border-box;
  animation: songPageAnimloader 1s linear infinite;
}

@keyframes songPageAnimloader {
  to {
    background-position: 185px 0, center 10px, center 125px, center 155px;
  }
}
.stripe-loader {
  width: 360px;
  height: 100px;
  display: block;
  background-image: linear-gradient(
      100deg,
      transparent,
      rgba(38, 50, 56, 0.5) 50%,
      transparent 80%
    ),
    linear-gradient(#fff 20px, transparent 0),
    linear-gradient(#fff 20px, transparent 0),
    linear-gradient(#fff 20px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 100px, 0px 0px, 360px 20px, 360px 20px;
  background-position: -50% 0, 0px 0, 10px 40px, 10px 80px, 120px 120px;
  box-sizing: border-box;
  animation: stripeanimloader 1s linear infinite;
}
