@import "./utils/Styles/color.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html, body { 
  overscroll-behavior: none; 
}

body {
  overflow-x: hidden !important;
  background-color: $dark-bg;
  font-family: "Poppins", sans-serif !important;
}

body::-webkit-scrollbar {
  width: 0rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 2px;
}

.btn {
  margin: unset;
  border: unset;
  outline: unset;
  &:active {
    border: unset;
    outline: unset;
  }
  svg {
    color: #ffffff84;
    width: 1rem;
  }
}

.play-button-wrapper {
  transform: translateY(-170%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem 0 0;
  .round_btn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    outline: unset;
    border: unset;
    box-shadow: 0 0 10px 5px $accent-color-border;
    background-color: $accent-color !important;
    &:active,
    &:focus,
    &:focus-visible {
      outline: unset;
      border: unset;
      background-color: $accent-color !important;
    }
    svg {
      width: 2rem;
      color: #ffffffd0;
      transform: translate(-5%, 0);
    }
  }
}
.btn-accent {
  background-color: $accent-color;
  color: $white;
  padding: 0.5rem 1rem;
}
.btn-error {
  background-color: $error;
  color: $white;
  padding: 0.5rem 1rem;
}
svg {
  color: #ffffff84;
  width: 1rem;
}
